In [173]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from scipy import stats

from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.datasets import load_breast_cancer, load_digits, load_iris
from sklearn.metrics import mean_squared_error

from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures

from category_encoders import OneHotEncoder

from sklearn.pipeline import make_pipeline
import sklearn
sklearn.set_config(display = 'diagram')
from sklearn.feature_selection import RFE

In [5]:
df = pd.read_csv('../datasets/train.csv')
df

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,1587,921126030,20,RL,79.0,11449,Pave,NaN,IR1,HLS,...,0,0,NaN,NaN,NaN,0,1,2008,WD,298751
2047,785,905377130,30,RL,NaN,12342,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2009,WD,82500
2048,916,909253010,50,RL,57.0,7558,Pave,NaN,Reg,Bnk,...,0,0,NaN,NaN,NaN,0,3,2009,WD,177000
2049,639,535179160,20,RL,80.0,10400,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,11,2009,WD,144000
2050,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,WD,189000

In [12]:
df.corr()['SalePrice'].sort_values(ascending=False)

SalePrice          1.000000
Overall Qual       0.800207
Gr Liv Area        0.697038
Garage Area        0.650270
Garage Cars        0.648220
Total Bsmt SF      0.628925
1st Flr SF         0.618486
Year Built         0.571849
Year Remod/Add     0.550370
Full Bath          0.537969
Garage Yr Blt      0.533922
Mas Vnr Area       0.512230
TotRms AbvGrd      0.504014
Fireplaces         0.471093
BsmtFin SF 1       0.423519
Lot Frontage       0.341842
Open Porch SF      0.333476
Wood Deck SF       0.326490
Lot Area           0.296566
Bsmt Full Bath     0.283662
Half Bath          0.283001
2nd Flr SF         0.248452
Bsmt Unf SF        0.190210
Bedroom AbvGr      0.137067
Screen Porch       0.134581
3Ssn Porch         0.048732
Mo Sold            0.032735
Pool Area          0.023106
BsmtFin SF 2       0.016255
Misc Val          -0.007375
Yr Sold           -0.015203
Low Qual Fin SF   -0.041594
Bsmt Half Bath    -0.045328
Id                -0.051398
MS SubClass       -0.087335
Overall Cond      -0.097019
Kitchen AbvGr     -0.125444
Enclosed Porch    -0.135656
PID               -0.255052
Name: SalePrice, dtype: float64

In [5]:
df.describe()

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
count,2051.000000,2.051000e+03,2051.000000,1721.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2029.000000,...,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000,2051.000000
mean,1474.033642,7.135900e+08,57.008776,69.055200,10065.208191,6.112140,5.562165,1971.708922,1984.190151,99.695909,...,93.833740,47.556802,22.571916,2.591419,16.511458,2.397855,51.574354,6.219893,2007.775719,181469.701609
std,843.980841,1.886918e+08,42.824223,23.260653,6742.488909,1.426271,1.104497,30.177889,21.036250,174.963129,...,128.549416,66.747241,59.845110,25.229615,57.374204,37.782570,573.393985,2.744736,1.312014,79258.659352
min,1.000000,5.263011e+08,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,12789.000000
25%,753.500000,5.284581e+08,20.000000,58.000000,7500.000000,5.000000,5.000000,1953.500000,1964.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129825.000000
50%,1486.000000,5.354532e+08,50.000000,68.000000,9430.000000,6.000000,5.000000,1974.000000,1993.000000,0.000000,...,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,162500.000000
75%,2198.000000,9.071801e+08,70.000000,80.000000,11513.500000,7.000000,6.000000,2001.000000,2004.000000,161.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,2930.000000,9.241520e+08,190.000000,313.000000,159000.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,...,1424.000000,547.000000,432.000000,508.000000,490.000000,800.000000,17000.000000,12.000000,2010.000000,611657.000000

In [6]:
pd.DataFrame(df.isna().sum()).T

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,0,0,0,0,330,0,0,1911,0,0,...,0,0,2042,1651,1986,0,0,0,0,0

In [247]:
df_cleaned = df.drop(['Alley', 'Pool QC', 'Fence', 'Misc Feature', 'Lot Frontage', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt', 'Garage Finish', 'Garage Qual', 'Garage Cond'], axis = 1)

In [248]:
nan_vals = pd.DataFrame(df_cleaned.isna().sum())
pd.set_option("display.max_rows", None)
print(nan_vals)

                  0
Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Area          0
Street            0
Lot Shape         0
Land Contour      0
Utilities         0
Lot Config        0
Land Slope        0
Neighborhood      0
Condition 1       0
Condition 2       0
Bldg Type         0
House Style       0
Overall Qual      0
Overall Cond      0
Year Built        0
Year Remod/Add    0
Roof Style        0
Roof Matl         0
Exterior 1st      0
Exterior 2nd      0
Mas Vnr Type     22
Mas Vnr Area     22
Exter Qual        0
Exter Cond        0
Foundation        0
Bsmt Qual        54
Bsmt Cond        54
Bsmt Exposure    57
BsmtFin Type 1   54
BsmtFin SF 1      0
BsmtFin Type 2   55
BsmtFin SF 2      0
Bsmt Unf SF       0
Total Bsmt SF     0
Heating           0
Heating QC        0
Central Air       0
Electrical        0
1st Flr SF        0
2nd Flr SF        0
Low Qual Fin SF   0
Gr Liv Area       0
Bsmt Full Bath    1
Bsmt Half Bath    1
Full Bath         0
Half Bath         0
Bedroom AbvGr     0
Kitchen AbvGr     0
Kitchen Qual      0
TotRms AbvGrd     0
Functional        0
Fireplaces        0
Garage Cars       0
Garage Area       0
Paved Drive       0
Wood Deck SF      0
Open Porch SF     0
Enclosed Porch    0
3Ssn Porch        0
Screen Porch      0
Pool Area         0
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0

In [251]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2049 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               2049 non-null   int64
 1   PID              2049 non-null   int64
 2   MS SubClass      2049 non-null   int64
 3   MS Zoning        2049 non-null   object
 4   Lot Frontage     1719 non-null   float64
 5   Lot Area         2049 non-null   int64
 6   Street           2049 non-null   object
 7   Alley            140 non-null    object
 8   Lot Shape        2049 non-null   object
 9   Land Contour     2049 non-null   object
 10  Utilities        2049 non-null   object
 11  Lot Config       2049 non-null   object
 12  Land Slope       2049 non-null   object
 13  Neighborhood     2049 non-null   object
 14  Condition 1      2049 non-null   object
 15  Condition 2      2049 non-null   object
 16  Bldg Type        2049 non-null   object
 17  House Style      2049 non-null   object
 18  Overall Qual     2049 non-null   int64
 19  Overall Cond     2049 non-null   int64
 20  Year Built       2049 non-null   int64
 21  Year Remod/Add   2049 non-null   int64
 22  Roof Style       2049 non-null   object
 23  Roof Matl        2049 non-null   object
 24  Exterior 1st     2049 non-null   object
 25  Exterior 2nd     2049 non-null   object
 26  Mas Vnr Type     2027 non-null   object
 27  Mas Vnr Area     2027 non-null   float64
 28  Exter Qual       2049 non-null   object
 29  Exter Cond       2049 non-null   object
 30  Foundation       2049 non-null   object
 31  Bsmt Qual        1995 non-null   object
 32  Bsmt Cond        1995 non-null   object
 33  Bsmt Exposure    1992 non-null   object
 34  BsmtFin Type 1   1995 non-null   object
 35  BsmtFin SF 1     2049 non-null   float64
 36  BsmtFin Type 2   1994 non-null   object
 37  BsmtFin SF 2     2049 non-null   float64
 38  Bsmt Unf SF      2049 non-null   float64
 39  Total Bsmt SF    2049 non-null   float64
 40  Heating          2049 non-null   object
 41  Heating QC       2049 non-null   object
 42  Central Air      2049 non-null   object
 43  Electrical       2049 non-null   object
 44  1st Flr SF       2049 non-null   int64
 45  2nd Flr SF       2049 non-null   int64
 46  Low Qual Fin SF  2049 non-null   int64
 47  Gr Liv Area      2049 non-null   int64
 48  Bsmt Full Bath   2048 non-null   float64
 49  Bsmt Half Bath   2048 non-null   float64
 50  Full Bath        2049 non-null   int64
 51  Half Bath        2049 non-null   int64
 52  Bedroom AbvGr    2049 non-null   int64
 53  Kitchen AbvGr    2049 non-null   int64
 54  Kitchen Qual     2049 non-null   object
 55  TotRms AbvGrd    2049 non-null   int64
 56  Functional       2049 non-null   object
 57  Fireplaces       2049 non-null   int64
 58  Fireplace Qu     1051 non-null   object
 59  Garage Type      1936 non-null   object
 60  Garage Yr Blt    1936 non-null   float64
 61  Garage Finish    1936 non-null   object
 62  Garage Cars      2049 non-null   float64
 63  Garage Area      2049 non-null   float64
 64  Garage Qual      1936 non-null   object
 65  Garage Cond      1936 non-null   object
 66  Paved Drive      2049 non-null   object
 67  Wood Deck SF     2049 non-null   int64
 68  Open Porch SF    2049 non-null   int64
 69  Enclosed Porch   2049 non-null   int64
 70  3Ssn Porch       2049 non-null   int64
 71  Screen Porch     2049 non-null   int64
 72  Pool Area        2049 non-null   int64
 73  Pool QC          9 non-null      object
 74  Fence            398 non-null    object
 75  Misc Feature     65 non-null     object
 76  Misc Val         2049 non-null   int64
 77  Mo Sold          2049 non-null   int64
 78  Yr Sold          2049 non-null   int64
 79  Sale Type        2049 non-null   object
 80  SalePrice        2049 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.4+ MB

In [257]:
df.groupby('Lot Config')['Roof Style'].count()

Lot Config
Corner      348
CulDSac     131
FR2          60
FR3           8
Inside     1502
Name: Roof Style, dtype: int64

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [186]:
X_train.shape

(1536, 5)

In [187]:
X_test.shape

(513, 5)

In [231]:
params = {'alpha_list': [.01, .1, 1, 10, 100, 1000]}
params

{'alpha_list': [0.01, 0.1, 1, 10, 100, 1000]}

In [232]:
gs = GridSearchCV(Lasso(), params, n_jobs = -1)
gs

GridSearchCV(estimator=Lasso(), n_jobs=-1,
             param_grid={'alpha_list': [0.01, 0.1, 1, 10, 100, 1000]})

In [233]:
gs.fit(X_train, y_train)

ValueError: Invalid parameter alpha_list for estimator Lasso(). Check the list of available parameters with `estimator.get_params().keys()`.

In [ ]:
pd.DataFrame(gs.cv_results_)

In [191]:
gs.best_params_

{'ridge__alpha': 10}

In [ ]:
RFE =

In [223]:
pipe = make_pipeline(StandardScaler(), PolynomialFeatures(), RFE(estimator = LinearRegression()),  Ridge(alpha = 10))

pipe.fit(X_train, y_train)

C:\Users\Lindsey\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('polynomialfeatures', PolynomialFeatures()),
                ('logisticregression', LogisticRegression())])

In [ ]:
pipe.score(X_train, y_train)

In [208]:
pipe.score(X_test, y_test)

0.881720421689027

In [209]:
preds = pipe.predict(X_test)

In [210]:
mean_squared_error(preds, y_test, squared = False)

28761.209236731884

In [212]:
df_test = pd.read_csv('../datasets/test.csv')
df_test

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,527377110,60,RL,80.0,8000,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,11,2007,WD
874,1234,535126140,60,RL,90.0,14670,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,MnPrv,NaN,0,8,2008,WD
875,1373,904100040,20,RL,55.0,8250,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2008,WD
876,1672,527425140,20,RL,60.0,9000,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,GdWo,NaN,0,5,2007,WD
877,1939,535327160,20,RL,70.0,8400,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,GdWo,NaN,0,3,2007,WD

In [214]:
X_test = df_test[['Overall Qual', 'Total Bsmt SF', 'Gr Liv Area', 'Year Built', 'Garage Area']]

In [215]:
predictions = pipe.predict(X_test)
predictions.shape

(878,)

In [216]:
df_sales = pd.DataFrame(predictions, columns = ['SalePrice'])
df_sales

         SalePrice
0    168183.562566
1    162828.643491
2    172725.344703
3    118853.542962
4    177446.456735
..             ...
873  197293.095383
874  199920.633835
875  133857.731127
876  114888.912087
877  119010.618970

[878 rows x 1 columns]

In [217]:
df_model2 = pd.concat([df_test['Id'], df_sales], axis = 1)
df_model2

       Id      SalePrice
0    2658  168183.562566
1    2718  162828.643491
2    2414  172725.344703
3    1989  118853.542962
4     625  177446.456735
..    ...            ...
873  1662  197293.095383
874  1234  199920.633835
875  1373  133857.731127
876  1672  114888.912087
877  1939  119010.618970

[878 rows x 2 columns]

In [218]:
df_model2.set_index('Id', inplace = True)

In [219]:
df_model2

          SalePrice
Id
2658  168183.562566
2718  162828.643491
2414  172725.344703
1989  118853.542962
625   177446.456735
...             ...
1662  197293.095383
1234  199920.633835
1373  133857.731127
1672  114888.912087
1939  119010.618970

[878 rows x 1 columns]

In [220]:
df_model2.to_csv('../submissions/model2_submission.csv')